@tailwind components;

@layer components {
  .card {
    padding: 40px;
    border-radius: 16px;
    background-color: #ffffff;
  }

  .opacity-gradient {
    position: relative;
  }

  .opacity-gradient::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
      to bottom,
      rgba(2, 4, 8, 0) 0%,
      rgba(2, 4, 8, 1) 100%
    );
  }

  .opacity-gradient-right {
    position: relative;
  }

  .opacity-gradient-right::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
      to right,
      rgba(2, 4, 8, 1) 0%,
      rgba(2, 4, 8, 0) 100%
    );
  }

  .gradient-border {
    border: 1px solid transparent; /* Define uma borda padrão */
    border-image-source: linear-gradient(
      70.92deg,
      #0988cd 2.29%,
      #92efff 76.59%
    );
    border-image-slice: 1; /* Garante que o gradiente se aplica corretamente */
  }

  .text-border-white {
    font-weight: bold; /* Deixar o texto mais visível */
    color: transparent; /* Cor do texto transparente */
    -webkit-text-stroke: 1px white; /* Define a borda (largura e cor) */
  }

  .bg-gradient-1 {
    background: linear-gradient(63.41deg, #0988cd 2.98%, #92efff 93.99%);
  }

  .bg-gradient-2 {
    background: linear-gradient(
      180deg,
      rgba(58, 65, 80, 0) 0%,
      #3a4150 147.03%
    );
  }
}
